exportPattern("^[^\\.]")
importFrom(graphics, image)
importFrom(MASS, hubers, rlm, mvrnorm, ginv, cov.rob, cov.mcd, cov.mve)
importFrom(numDeriv, grad)
importFrom(robustbase, covGK, covOGK, covMcd, scaleTau2, s_Qn, s_IQR, Qn, Sn)
importFrom("grDevices", "dev.interactive", "devAskNewPage",
             "terrain.colors")
importFrom("graphics", "abline", "arrows", "axis", "barplot", "box",
             "boxplot", "hist", "layout", "lcm", "lines", "mtext", "par",
             "plot", "plot.new", "plot.window", "points", "polygon", "segments",
             "strheight", "text", "title")
importFrom("stats", "aggregate", "as.formula", "ave", "coef", "cor",
             "cov", "cov2cor", "dbeta", "density", "deriv", "dnorm", "integrate",
             "lm", "mad", "mahalanobis", "median", "na.omit", "optimize", "p.adjust",
             "pbeta", "pchisq", "pnorm", "qbeta", "qchisq", "qf",
             "qnorm", "qqline", "qqnorm", "qt", "rbeta", "rchisq",
             "rnorm", "runif", "sd", "terms", "uniroot", "var")
importFrom("utils", "combn", "getS3method", "stack")

S3method( MM.estimate, default )
S3method( barplot, mandel.kh )
S3method( boxplot, mandel.kh )
S3method( c, ilab )
S3method( cbind, default )
S3method( cbind, ilab )
S3method( drop1, uncert )
S3method( drop1, uncertMC )
S3method( dsl, default )
S3method( duewer.plot, default )
S3method( huber.estimate, default )
S3method( kplot, default )
S3method( kplot, ilab )
S3method( mandel.h, default )
S3method( mandel.h, ilab )
S3method( mandel.k, default )
S3method( mandel.k, ilab )
S3method( mandel.kh, array )
S3method( mandel.kh, data.frame )
S3method( mandel.kh, default )
S3method( mandel.kh, ilab )
S3method( mandel.kh, matrix )
S3method( mpaule, default )
S3method( plot, d.ellipse )
S3method( plot, drop1.uncert )
S3method( plot, ilab )
S3method( plot, mandel.kh )
S3method( plot, uncert )
S3method( plot, uncertMC )
S3method( print, d.ellipse )
S3method( print, drop1.uncert )
S3method( print, ilab )
S3method( print, loc.est )
S3method( print, summary.vr.mle )
S3method( print, uncert )
S3method( print, uncertMC )
S3method( rbind, default )
S3method( rbind, ilab )
S3method( reml.loc, default )
S3method( subset, ilab )
S3method( summary, d.ellipse )
S3method( summary, uncert )
S3method( summary, uncertMC )
S3method( uncert, default )
S3method( uncert, expression )
S3method( uncert, formula )
S3method( uncert, "function" )
S3method( update, uncert )
S3method( xs.plot, default )
S3method( youden.plot, default )
